STACKARR_PORT=4687
STACKARR_DATA_DIR=../data
STACKARR_LOG_LEVEL=info
HOST_STACK_ROOT=/share/Container/docker
HOST_CONFIG_ROOT=/share/Container
HOST_MEDIA_ROOT=/share/Media
HOST_DOWNLOADS_ROOT=/share/Media/Downloads
HOST_PLEX_LOGS_ROOT=/share/Container/plex/Logs
